
<div class="container-fluid test">
<div class="container test" id= "whyme">
<hr>
<h3>Why Me?</h3>
<div class = "hidden-xs test">
<div class="row">
	<div class="col-sm-4 fbox">
		<h4 class="traits">Ambitious</h4>
		<p>I'm always looking for opportunities and aren’t afraid to take risks for the sake of making things better.</p>
	</div>
	<div class="col-sm-4 fbox">
		<h4 class="traits">Creative</h4>
		<p>I am open minded and think out of the box to find creative solutions to complecated problems.</p>
	</div>
	<div class="col-sm-4 fbox">
		<h4 class="traits">Stratigic</h4>
		<p>I have a clear vision of what I aspire, and set stage goals until I accomplishing my aspirations.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 fbox">
		<h4 class="traits">Collaborative</h4>
		<p>I enjoy working in a team and get along very well with people. When diverse people work together the results can be amazing.</p>
	</div>
	<div class="col-sm-4 fbox">
		<h4 class="traits">Passionate</h4>
		<p>I am very passionate about what I do and approach work with enthusiasm and stick to it until it's done to perfection however difficute or challenging it may be.</p>
	</div>
	<div class="col-sm-4 fbox">
		<h4 class="traits">Observent</h4>
		<p>I am very observent and pay attention to all details so that my final tasks are completed without any mistakes.</p>
	</div>
</div>
</div>

<div class ="visible-xs">
<div class="row">
	<div class="col-xs-6 fbox">
		<h4 class="traits">Ambitious</h4>
		<p>I'm always looking for opportunities and aren’t afraid to take risks for the sake of making things better.</p>
	</div>
	<div class="col-xs-6 fbox">
		<h4 class="traits">Creative</h4>
		<p>I am open minded and think out of the box to find creative solutions to complecated problems.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 fbox">
		<h4 class="traits">Stratigic</h4>
		<p>I have a clear vision of what I aspire, and set stage goals until I accomplishing my aspirations.</p>
	</div>
	<div class="col-xs-6 fbox">
		<h4 class="traits">Collaborative</h4>
		<p>I enjoy working in a team and get along very well with people. When diverse people work together the results can be amazing.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 fbox">
		<h4 class="traits">Passionate</h4>
		<p>I am very passionate about what I do and approach work with enthusiasm and stick to it until it's done to perfection however difficute or challenging it may be.</p>
	</div>
	<div class="col-xs-6 fbox">
		<h4 class="traits">Observent</h4>
		<p>I am very observent and pay attention to all details so that my final tasks are completed without any mistakes.</p>
	</div>
</div>
</div>
<br>
</div> <!-- container -->
</div> <!-- container-fluid -->

<div class="end">
	<div>
	  <p class="text-center footer">
	    &copy;
	    <script>document.write(new Date().getFullYear());</script>
	    <a class="footerlink" href="/">Eliav Yehuda</a>
	  </p>
	</div>
	<br class="endbr">
<div>