
<div class="container-fluid test">
<div class="container test">
<div id="work"></div>
<hr>

<h3>Work Experience</h3>
<dir class = "row row-centered">


	<div class="row row-centered">
		<div class="col-md-4 col-centered">
			<div id="autodesk" class="box">
				<a href="http://www.autodesk.com/"><div id="overlay">
					<div class="company">
						Autodesk
					</div>
					<div class="descriptions">
						PostgreSQL | ActiveMQ | Tomcat
					</div>
					</div></a>
			</div>
		</div>
		<div class="col-sm-4 col-centered">
			<div id="uxpsystems" class="box">
				<a href="http://www.uxpsystems.com/"><div id="overlay">
					<div class="company">UXP Systems</div>
					<div class="descriptions">
						Spring MVC | IntelliJ IDEA | Postman
					</div>
					</div></a>
			</div>
		</div>
		<div class="col-md-4 col-centered">
			<div id="edisoft" class="box">
				<a href="http://www.edisoft.com/"><div id="overlay">
					<div class="company">Edisoft</div>
					<div class="descriptions">
						C# | ASP.NET MVC | Visual Studio
					</div>
					</div></a>
			</div>
		</div>
		<div class="col-md-4 col-centered">
			<div id="genesys" class="box">
				<a href="http://www.genesys.com/#"><div id="overlay">
					<div class="company">Genesys</div>
					<div class="descriptions">
						Eclipse | JavaScript | SDK | GDK
					</div>
					</div></a>
			</div>
		</div>
		<div class="col-md-4 col-centered">
			<div id="finance" class="box">
				<a href="http://www.fin.gov.on.ca/en/"><div id="overlay">
					<div class="company">Ontario Finance</div>
					<div class="descriptions">
						HTML/CSS | jQuery | MySQL | FAME
					</div>
					</div></a>
			</div>
		</div>
		<div class="col-md-4 col-centered">
			<div id="nexj" class="box">
				<a href="https://gatewaylogin.com/marketing.php"><div id="overlay">
					<div class="company">NexJ Systems</div>
					<div class="descriptions">
						Java | Jira | Crucible | Scrum
					</div>
					</div></a>
			</div>
		</div>
	</div>


</dir>	<!-- row -->











<div id="whyme"></div>
<hr>
<h3>Why Me?</h3>
<div class = "hidden-xs test">
<div class="row">
	<div class="col-sm-4 fbox">
		<h4 class="traits">Ambitious</h4>
		<p>I'm always looking for opportunities and aren’t afraid to take risks for the sake of making things better.</p>
	</div>
	<div class="col-sm-4 fbox">
		<h4 class="traits">Creative</h4>
		<p>I am open minded and think out of the box to find creative solutions to complicated problems.</p>
	</div>
	<div class="col-sm-4 fbox">
		<h4 class="traits">Stratigic</h4>
		<p>I have a clear vision of what I aspire, and set stage goals until I accomplish my aspirations.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 fbox">
		<h4 class="traits">Collaborative</h4>
		<p>I enjoy working in a team and get along very well with people. When diverse people work together the results are usually amazing.</p>
	</div>
	<div class="col-sm-4 fbox">
		<h4 class="traits">Passionate</h4>
		<p>I am very passionate about what I do. I approach work with enthusiasm and stick to it until it's done to perfection however difficult or challenging it may be.</p>
	</div>
	<div class="col-sm-4 fbox">
		<h4 class="traits">Observent</h4>
		<p>I am very observant and pay attention to all details so that my final tasks are completed without any mistakes.</p>
	</div>
</div>
</div>

<div class ="visible-xs">
<div class="row">
	<div class="col-xs-6 fbox">
		<h4 class="traits">Ambitious</h4>
		<p>I'm always looking for opportunities and aren’t afraid to take risks for the sake of making things better.</p>
	</div>
	<div class="col-xs-6 fbox">
		<h4 class="traits">Creative</h4>
		<p>I am open minded and think out of the box to find creative solutions to complicated problems.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 fbox">
		<h4 class="traits">Stratigic</h4>
		<p>I have a clear vision of what I aspire, and set stage goals until I accomplish my aspirations.</p>
	</div>
	<div class="col-xs-6 fbox">
		<h4 class="traits">Collaborative</h4>
		<p>I enjoy working in a team and get along very well with people. When diverse people work together the results are usually amazing.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 fbox">
		<h4 class="traits">Passionate</h4>
		<p>I am very passionate about what I do. I approach work with enthusiasm and stick to it until it's done to perfection however difficult or challenging it may be.</p>
	</div>
	<div class="col-xs-6 fbox">
		<h4 class="traits">Observent</h4>
		<p>I am very observant and pay attention to all details so that my final tasks are completed without any mistakes.</p>
	</div>
</div>
</div>	<!-- row -->
<br>
</div> <!-- container -->
</div> <!-- container-fluid -->

<div class="end">
	<div>
	  <p class="text-center footer">
	    &copy;
	    <script>document.write(new Date().getFullYear());</script>
	    <a class="footerlink" href="/">Eliav Yehuda</a>
	  </p>
	</div>
	<br class="endbr">
<div>