.end
  background: black

.traits
  color: rgb(38,121,219)


.fbox
  text-align: center

.footer
  color: white
  padding-top: 20px

.footerlink
  color: white
  +fontfam("Comic Sans MS")
  border-bottom: none
  &:hover
    color: $link-color
    border-bottom: none



/* Bootstrap
/* line 130, ../sass/style.scss

.row-centered
  text-align: center

/* line 133, ../sass/style.scss

.col-centered
  display: inline-block
  float: none
  text-align: left
  margin-right: -4px

/* line 140, ../sass/style.scss

.box
  height: 200px
  margin: 5px
  box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45)
  border-bottom: 2px solid #fff
  border-right: 2px solid #fff
  margin: 5% auto 0 auto
  background-size: cover
  border-radius: 5px
  overflow: hidden
  img
    max-height: 100%

/* line 152, ../sass/style.scss

/* line 156, ../sass/style.scss

#overlay
  background: rgba(0, 0, 0, 0.65)
  text-align: center
  height: 100%
  width: 100%
  opacity: 1
  -webkit-transition: opacity .25s ease
  -moz-transition: opacity .25s ease

/* line 166, ../sass/style.scss

.company
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)
  font-family: 'simplifica sans', 'calibri', sans-serif
  font-size: 45px
  color: #EEEDE9

/* line 177, ../sass/style.scss

.descriptions
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)
  font-family: 'Open Sans', sans-serif
  font-weight: 300
  font-size: 20px
  color: #EEEDE9



.box:hover #overlay
  opacity: 0

#autodesk
  background-image: url("../img/Autodesk.png")

#uxpsystems
  background-image: url("../img/UXPSystems.png")

#edisoft
  background-image: url("../img/Edisoft.png")

#genesys
  background-image: url("../img/Genesys.png")

#finance
  background-image: url("../img/Finance.png")

#nexj
  background-image: url("../img/NexJSystems.png")
